In [4]:
import pandas as pd
import requests

In [29]:
base_url="https://financialmodelingprep.com/stable"
data_type="search-symbol"
API_key="fbI5QjDLjJNXRkvWFrM7z9i7jjd83SYK"
search_item= "SBIN"

In [30]:
url= f"{base_url}/{data_type}?query={search_item}&apikey={API_key}"

In [31]:
url

'https://financialmodelingprep.com/stable/search-symbol?query=SBIN&apikey=fbI5QjDLjJNXRkvWFrM7z9i7jjd83SYK'

In [32]:
response= requests.get(url)
data= response.json()

In [33]:
data

[{'symbol': 'SBIN.NS',
  'name': 'State Bank of India',
  'currency': 'INR',
  'exchangeFullName': 'National Stock Exchange of India',
  'exchange': 'NSE'},
 {'symbol': 'SBIN.BO',
  'name': 'State Bank of India',
  'currency': 'INR',
  'exchangeFullName': 'Bombay Stock Exchange',
  'exchange': 'BSE'}]

In [34]:
len(data)

2

In [35]:
df=pd.DataFrame(data)

In [36]:
df

,symbol,name,currency,exchangeFullName,exchange
0,SBIN.NS,State Bank of India,INR,National Stock Exchange of India,NSE
1,SBIN.BO,State Bank of India,INR,Bombay Stock Exchange,BSE