In [2]:
import kaggle
import pandas as pd
import seaborn as sns

C:\Users\007ai\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\007ai\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:61: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [3]:
kaggle.api.authenticate()

In [4]:
kaggle.api.dataset_download_files("saurabhbadole/indian-stock-market-master-data-24",path=".",unzip=True)

Dataset URL: https://www.kaggle.com/datasets/saurabhbadole/indian-stock-market-master-data-24

In [5]:
df= pd.read_csv("ASIANPAINT.csv",encoding="utf-8")

In [6]:
df

,Price,Close,High,Low,Open,Volume
0,Ticker,ASIANPAINT.NS,ASIANPAINT.NS,ASIANPAINT.NS,ASIANPAINT.NS,ASIANPAINT.NS
1,Date,NaN,NaN,NaN,NaN,NaN
2,2025-11-17,2883.39990234375,2922.339131539382,2875.5123098312783,2901.871075167319,1230683
3,2025-11-18,2906.0,2916.0,2862.10009765625,2886.0,1819066
4,2025-11-19,2893.699951171875,2916.0,2887.199951171875,2914.0,1387906
5,2025-11-20,2859.800048828125,2906.10009765625,2852.5,2897.39990234375,1062883
6,2025-11-21,2876.60009765625,2895.60009765625,2854.10009765625,2869.0,857340
7,2025-11-24,2879.199951171875,2896.5,2864.5,2876.0,5404326
8,2025-11-25,2875.800048828125,2908.5,2869.0,2899.89990234375,972417
9,2025-11-26,2874.0,2896.199951171875,2857.60009765625,2880.0,570376
10,2025-11-27,2879.10009765625,2914.5,2871.39990234375,2880.0,1158685
11,2025-11-28,2874.39990234375,2889.89990234375,2855.800048828125,2880.0,748446
12,2025-12-01,2867.60009765625,2887.5,2848.0,2877.699951171875,499153
13,2025-12-02,2954.39990234375,2962.0,2861.199951171875,2867.0,2102147
14,2025-12-03,2953.5,2969.199951171875,2932.60009765625,2969.0,1252456
15,2025-12-04,2957.199951171875,2985.699951171875,2934.0,2950.0,1466098
16,2025-12-05,2968.5,2973.5,2941.0,2955.0,944978
17,2025-12-08,2928.300048828125,2974.5,2914.800048828125,2970.0,983544
18,2025-12-09,2796.0,2913.5,2788.5,2910.0,1839391
19,2025-12-10,2804.5,2824.0,2796.699951171875,2810.0,845073
20,2025-12-11,2779.39990234375,2811.60009765625,2763.199951171875,2800.0,777422
21,2025-12-12,2764.800048828125,2797.0,2746.0,2795.0,977696
22,2025-12-15,2780.199951171875,2802.0,2758.699951171875,2773.10009765625,1029674
23,2025-12-16,2790.89990234375,2808.0,2776.10009765625,2793.0,916232